@charset 'utf-8';

.help-question-section {}
.help-question-section .question-left {
	width: 225px;
	/*background: #fff;*/
}
.help-question-section .question-right {
	width: 940px;
	background: #fff;
	min-height: 810px;
}
.question-item .top-title {
	height: 40px;
	line-height: 40px;
	background: #cf2020;
	color: #fff;
	font-size: 18px;
	padding-left: 40px;
	padding-right: 20px;
}
.question-item .question-rows {
	border-bottom: 1px solid #fff;
	background: #fff;
}
.question-item .question-rows:last-child {
	border-bottom: 0px;
}
.question-item .question-rows .q-title {
	height: 40px;
	line-height: 40px;
	padding-left: 40px;
	padding-right: 20px;
	background: #eaeaea;
	font-size: 14px;
	color: #8e8e8e;
	position: relative;
	cursor: pointer;
}
.question-item .question-rows .sub-rows {
	display: none;
}
.question-item .question-rows.on .sub-rows {
	display: block;
}
.question-item .question-rows .sub-rows .item {
	height: 32px;
	line-height: 32px;
	padding-left: 40px;
	padding-right: 20px;
	border-bottom: 1px solid #faf8f9;
	color: #8e8e8e;
}
.question-item .question-rows .sub-rows .item.on {
	color: #cf2020;
}
.question-item .question-rows .sub-rows .item:hover {
	background: #f9f9f9;
}
.question-item .question-rows .sub-rows .item a {
	display: block;
}
.question-item .question-rows.has-subrows .q-title .icon {
	/*width: 10px;*/
	/*height: 10px;*/
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -2.5px;
	right: 20px;
	/*background: #999;*/
	border-top: 5px solid #999;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	transition: .3s;
}
.question-item .question-rows.has-subrows.on .q-title .icon {
	transform: rotate(180deg);
}
/*当前位置*/
.question-location {
	height: 40px;
	background: #eaeaea;
	padding: 0 20px;
	line-height: 40px;
}

.question-right .q-content {
	padding: 0 30px;
}

.total-question {
	
}
.total-question ul li {
	display: inline-block;
	float: left;
	padding: 15px 0;
}
.total-question ul li a {
	display: block;
	font-size: 14px;
	height: 14px;
	line-height: 14px;
	padding: 0 10px;
	border-left: 1px solid #666;
	font-weight: bold;
}
.total-question ul li a:hover, .total-question ul li.on a {
	color: #cf2020;
}
.total-question ul li:first-child a {
	border-left: 0px;
	padding-left: 0px;
}
.total-content {
	padding: 30px 24px;
	border: 1px solid #eaeaea;
}
.help_tit {
	font-size: 14px;
	color: #cf2020;
	font-weight: bold;
}
.total-list li a {
	display: inline-block;
	line-height: 24px;
	height: 24px;
	font-size: 12px;
	color: #666;
	padding-left: 10px;
	position: relative;
}
.total-list li a:before {
	content: '';
	display: block;
	width: 4px;
	height: 4px;
	background: #666;
	position: absolute;
	top: 50%;
	margin-top: -1px;
	border-radius: 50%;
	left: 0px;
}
.total-list li a:hover {
	color: #e97018;
}
.total-list li a:hover:before {
	background: #e97018;
}
.help-eaitor {
	padding: 30px 0;
}
.editor-htitle {
	font-size: 20px;
	color: #7dd589;
	padding-bottom: 20px;
	border-bottom: 1px dashed #7dd589;
}
.help-eaitor .content {
	padding: 20px 0;
	font-size: 14px;
	line-height: 24px;
}



/*新闻列表页*/
.news-section .left {
	width: 710px;
}
.news-section .left-800 {
	width: 800px;
}
.news-section .right {
	max-width: 400px;
}
.news-section .news-itemBox {
	border-top: 4px solid #666;
}
.news-itemBox .news-list {
	display: block;
	padding: 20px 10px;
	font-size: 12px;
	color: #999;
	border-bottom: 1px solid #e1e1e1;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	transition: .5s;
}
.news-itemBox .news-list:hover {
	background: #f9f9f9;
}
.news-itemBox .news-list .title-time .t {
	display: inline-block;
	vertical-align: bottom;
	font-size: 20px;
	line-height: 30px;
	color: #333;
	font-weight: bold;
}
.news-itemBox .news-list .title-time .time {
	display: inline-block;
	vertical-align: bottom;
	color: #999;
	font-size: 12px;
	margin-top: 10px;
}
.news-itemBox .news-list .info {
	margin-top: 15px;
}

.news-editor-box {
	border: 1px solid #eee;
	padding: 10px 20px;
}
.news-editor {
	font-size: 12px;
	color: #666;
}
.news-editor .msg-title {
	font-size: 20px;
	color: #333;
	font-weight: bold;
	text-align: center;
	line-height: 60px;
	border-bottom: 1px solid #e1e1e1;
}
.news-editor .content {
	padding: 15px 0;
	line-height: 24px;
}
.news-editor .content p {
	margin-bottom: 20px;
}
.news-editor .content p:last-child {
	margin-bottom: 0px;
}
.news-editor .m-time {
	font-size: 12px;
	color: #999;
	text-align: center;
}















