<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{$eBiz.lang.login_title}</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<!-- load css -->
	<style type="text/css">
		html,body
		{
			height:100%;
			margin:0;
			text-align:center
		}
	</style>
	{tbcss module="Admin" src="../common/layui/css/layui.css,login.css"}
</head>
<body>
<div style="width:100%; height: 100%; background: url({tbimg module='Admin' src='bg.png'}); background-size: 100% 100%; background-repeat: no-repeat;">
	<div class="logo" style="position: absolute; top: 30px; left: 30px;">
		<a href="/">
			<img src="{tbimg module='Admin' src='logo-w.png'}" height="40" alt="">
		</a>
	</div>
	<div style="width: 510px; height: 390px; position: relative; top:50%; transform: translateY(-50%); margin: 0 auto;  border-radius: 14px; background-color:rgba(23,111,171,0.6); color: #ffffff;">
		<div style="opacity:1; padding-top: 40px;">
			<h1 style="font-size: 20px; line-height: 40px;">EBIZ B2C 电商管理系统 v1.4.2</h1>
			<h3 style="font-size: 14px; line-height: 20px;">Management System</h3>
			<div style="padding-top: 20px;">
				<form id="loginForm">
					<div>
						<input type="text" name="username" style="background-color: #ffffff; width: 300px; height: 40px; border: 0; padding-left: 50px; background-image: url({tbimg module='Admin' src='user.png'}); background-repeat: no-repeat; background-size: 50px 40px; border-radius: 2px; color: #888888;">
					</div>
					<div>
						<input type="password" name="password" style="background-color: #ffffff; width: 300px; height: 40px; border: 0; padding-left: 50px; background-image: url({tbimg module='Admin' src='pass.png'}); background-repeat: no-repeat; background-size: 50px 40px; border-radius: 2px; margin-top: 15px; color: #888888;">
					</div>
					<div>
						<button type="button" class="submit_btn" style="border: 0; border-radius: 5px; width: 350px; height: 40px; margin-top: 25px; background-color: #3db3e0; color: #ffffff;">立即登录</button>
					</div>
				</form>
			</div>
			<div style="margin-top: 30px; font-size: 12px;">
				<p>© 2016-2017 JunNet 版权所有</p>
				<p>粤ICP备案号16085989号-9 <a href="http://www.junnet.net/" style="color: #ffffff">junnet.net</a></p>
			</div>
		</div>
	</div>
</div>
{tbjs module="Admin" src="../common/layui/lay/dest/layui.all.js,login.js,../jsplug/jparticle.jquery.js"}

<script type="text/javascript">
	$(function(){
		$(".layui-canvs").jParticle({
			background: "#141414",
			color: "#E6E6E6"
		});

		//登录
		$(".submit_btn").click(function(){
			if ($('input[name="username"]').val()=='') {
				layer.msg('{$eBiz.lang.user_is_empty}');
				$('input[name="username"]').focus();
				return false;
			};
			if ($('input[name="password"]').val()=='') {layer.msg('{$eBiz.lang.pwd_is_empty}');$('input[name="password"]').focus();return false;};

			$.ajax({
				url: "{:url('Sys/login/login')}",
				type: 'POST',
				data: $("#loginForm").serialize(),
				success: function (info) {
					if (info.code === 1) {
						setTimeout(function () {
							top.layer.closeAll();
							if (info.url=='') {
								top.location.reload();
							}else{
								top.location.href = info.url;
							}
						}, 1000);
					}
					layer.msg(info.msg);
				}
			});
		});

	});
	function changLang () {
		var lang = $("#lang").val();
		$.get("{:url('Comm/changeLang')}",{lang:lang},function(){
			location.reload();
		})
	}
	$(document).keyup(function(event){
		if(event.keyCode ==13){
			$(".submit_btn").trigger("click");
		}
	});

	{if condition="$valid_open eq 1 AND $valid_type eq 'jigsaw'"}
	var opts = {
		"element": 'pintu', // 可以是验证码容器id，也可以是HTMLElement
		"captchaId": "{:tb_config('wy_appid',1,$lang_id)}", // 这里填入申请到的验证码id
		"width": 350, // 验证码组件显示宽度
		"mode": "float",
	}
	new NECaptcha(opts);
	{/if}

</script>
</body>
</html>