<div class="layui-form-item">
	<label class="layui-form-label">{$title}</label>
	<div class="layui-input-block">
		<button type="button" data-href="{:U($option)}" data-msg="{$title}" onclick="openFrame(this);" class="layui-btn">{$title}</button><p>{$tips}</p>
	</div>
</div>
<script>
	function openFrame (obj) {
		var index = layer.open({
	      	type: 2,
      		title: $(obj).attr('data-msg'),
	      	shadeClose: false,
	      	shade:  [0.8, '#393D49'],
	      	maxmin: true, //开启最大化最小化按钮
	      	area: ['90%', '90%'],
	      	content: $(obj).attr('data-href')
	    });
	    layer.full(index);
	}
</script>
