<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图片库管理</title>
    {include file="Base/table_header"/}
    {tbcss module="Admin" src="../picturelibrary/css/common.css,../picturelibrary/css/img.css"}
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body style="background-color: #ffffff" oncontextmenu=self.event.returnValue=false>
<div class="file-frame">

    <!-- 操作 -->
    <div class="cFControl">
        <ul class="ctl clearfix">
            <li>
                <a href="javascript:;" class="btn" data-msg="上传文件" data-href="{:url('upload')}" onclick="showFrame(this);">上传</a>
            </li>
            <li>
                <a href="javascript:;" class="btn" onclick="new_folder();">新建文件夹</a>
                <input type="hidden" id="nowPath" value="{$show_path}">
            </li>
            <li>
                <a href="javascript:;" class="btn"  style="border-color: red; color: red">删除</a>
            </li>
        </ul>
        <div class="fr">
            <div class="cFsearch">
                <input type="text" placeholder="输入文字进行搜索" />
                <a href="javascript:;" class="searchBtn"></a>
            </div>
        </div>
    </div>
    <!-- 所在位置 -->
    <div class="cFLocation">
        <span>全部文件 ></span>
        <span class="path-show">{$show_path}</span>
    </div>
    <div class="allcheckbox-block clearfix">
        <span class="cFcheck allcheckbox">
            <input id="allCfcheck" type="checkbox" />
            <label for="allCfcheck">全选</label>
        </span>
        <div style="display: inline-block; margin-left: 20px;">
            <a href="javascript:;" onclick="return_top();">返回上级</a>
            <a href="javascript:;" onclick="return_index();" style="margin-left: 10px;">返回首层</a>
        </div>
    </div>
    <!-- 列表 -->
    <div class="cFLmain">
        <div class="FB">
            {if condition="empty($list)"}
            <div style="font-size: 18px; text-align: center; color: #999999; margin-top: 100px;">暂无内容</div>
            {else/}
            <div class="dir">

                <ul class="clearfix">
                    {volist name="list" id="vo"}
                    {if condition="!empty($vo)"}
                    <li class="fitem">
                        <span class="check">
                            <input class="item-check" type="checkbox" />
                        </span>

                        {if condition="$vo['type'] == 'folder'"}
                        <div data-act="{$vo.base_path}" data-id="{$vo.id}" class="img folder">
                            <img src="{tbimg module='Admin' src='../picturelibrary/img/file.png'}" alt="">
                        </div>
                        {else/}
                        <div class="img" style="height: 56px; text-align: center;">
                            <img class="imgZoom" src="{$vo.path}" style="max-height: 56px; width: 56px;" alt="">
                        </div>
                        {/if}
                        <div class="info handle_info">
                            <span class="open_handle fileName-{$vo.id}">
                                {$vo.name}
                            </span>
                            <input class="fileInput-{$vo.id}" type="hidden" value="{$vo.name}" onblur="updateName({$vo.id});">
                            <div class="handle_wrap" style="border-radius: 5px;">
                                <ul class="handle_list">
                                    <li class="handle_item" data-toggle="modal" data-target="#myModal">显示简介</li>
                                    <li class="handle_item">打开文件夹</li>
                                    <li class="handle_item">下载</li>
                                    <li class="handle_item">
                                        移动到 <span style="float: right; color: #999999">></span>
                                    </li>
                                    <li class="handle_item" onclick="reName({$vo.id});">重新命名</li>
                                    <hr style="margin-top: 5px;margin-bottom: 5px;">
                                    <li class="handle_item">移到回收站</li>
                                    <li class="handle_item" style="color: #d62900;">彻底删除</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    {/if}
                    {/volist}
                    <div class="modal fade" id="myModal" aria-hidden="true">
                        <div class="modal-dialog" style="width: 300px;">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <p>类型: 文件夹222</p>
                                    <p>名称: 新建文件夹</p>
                                    <p>大小: 1200423b</p>
                                    <p>位置: home>pic1></p>
                                    <p>创建时间: 2017-12-05 12:04:24</p>
                                    <p>修改时间: 2017-12-05 12:04:24</p>
                                    <p>注释:



                                    </p>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal -->
                    </div>
                    <script>
                        // 重新命名
                        function reName(id) {
                            var nameId = '.fileName-'+id;
                            var inputId = '.fileInput-'+id;
                            $(nameId).hide();
                            $(inputId).attr('type','text');
                            $(inputId).focus();
                        }
                        function updateName(id) {
                            var nameId = '.fileName-'+id;
                            var inputId = '.fileInput-'+id;
                            $(nameId).show();
                            $(inputId).attr('type','hidden');
                        }
                    </script>
                </ul>
            </div>
            {/if}
            {tbjs module="Admin" src="../picturelibrary/js/jquery.min.js,jquery.mousewheel.js,jquery.imgZoom.js,jquery.drag.js"}
            <script>
                $(".imgZoom").imgZoom();
                var open = false;
                var open_id = false;
                $('body').on('click',function(){
                    open = false;
                    open_id = false;
                });
                $('.fitem').contextmenu(function(e){
                    if( open == false ){
                        if(!$(this).children('.handle_info').hasClass('handle_info_open')){
                            $(this).children('.handle_info').addClass('handle_info_open');
                        }
                        e.preventDefault();
                        open = true;
                        open_id = $(this).attr('data-id');
                        return false;
                    }else{
                        if( open_id == $(this).attr('id') ){
                            if($('.handle_info').hasClass('handle_info_open'))  $('.handle_info').removeClass('handle_info_open');
                            open = false;
                        }else{
                            if($('.handle_info').hasClass('handle_info_open'))  $('.handle_info').removeClass('handle_info_open');
                            if(!$(this).children('.handle_info').hasClass('handle_info_open')){
                                $(this).children('.handle_info').addClass('handle_info_open');
                            }
                            e.preventDefault();
                            open = true;
                            open_id = $(this).attr('data-id');
                            return false;
                        }
                    }
                });

                $(document).click(function(){
                    if($('.handle_info').hasClass('handle_info_open'))  $('.handle_info').removeClass('handle_info_open');
                });
            </script>

        </div>
    </div>
</div>

<script type="text/javascript" src="{:tb_config('sys_js_src',1,$lang_id)}jquery.min.js"></script>
<script type="text/javascript" src="{:tb_config('sys_plugin_src',1,$lang_id)}common/layui/layui.js"></script>
<script type="text/javascript">

    layui.use(['jquery','form','layer','element','laypage'],function(){
    });

    /**
     * 新建文件夹
     * @return mixed
     */
    function new_folder(){
        $.ajax({
            type:"POST",
            url:"{:url('sys/PictureLibrary/newFolder')}",
            success:function (data){
                if( data.code == 1 ){
                    var html = '<li class="fitem folder" data-act=""> ' +
                            '<span class="check"> ' +
                            '<input class="item-check" type="checkbox" /> ' +
                            '</span> ' +
                            '<div class="img"> ' +
                            '<img src="{tbimg module="Admin" src="../picturelibrary/img/file.png"}" alt="">'+
                            '</div> ' +
                            '<div class="info"> ' +
                            '<input class="itemName" name="" type="text" value="'+data.file.name+'" /> ' +
                            '</div> ' +
                            '</li>';
                    $('.dir>ul').append(html);
                }else{
//                    alert(data.msg);
                }
            },
            error:function () {
                alert('网络错误!');
            }
        });
    }

    // 双击
    $('.cFLmain').on('dblclick','.folder',function() {
        var dir = $(this).attr('data-act');
        $.ajax({
            type:'post',
            url:'{:U("sys/PictureLibrary/ajaxList")}',
            data:{dir:dir},
            success:function (data) {
                if( data.code == 0 ) {
                    alert(data.msg);
                }else{
                    $('.FB').html(data.data);
                    $('.path-show').html(data.show_path);
                    $('#nowPath').val(data.show_path);
                    open = false;
                }
            }
        });
    });
    function return_top() {
        $.ajax({
            type:'post',
            url:'{:U("sys/PictureLibrary/ajaxList")}',
            data:{dir:'..'},
            success:function (data) {
                if( data.code == 0 )
                {
                    alert(data.msg);
                }else{
                    $('.FB').html(data.data);
                    $('.path-show').html(data.show_path);
                    $('#nowPath').val(data.show_path);
                    open = false;
                }
            }
        });
    };
    function return_index() {
        $.ajax({
            type:'post',
            url:'{:U("sys/PictureLibrary/ajaxList")}',
            data:{dir:'...'},
            success:function (data) {
                if( data.code == 0 )
                {
                    alert(data.msg);
                }else{
                    $('.FB').html(data.data);
                    $('.path-show').html(data.show_path);
                    $('#nowPath').val(data.show_path);
                    open = false;
                }
            }
        });
    };
    // 单击选择
    $('.cFLmain').on('click','.fitem .check',function() {
        var me = $(this);
        var input = me.find('input');
        if(input.prop('checked')) {
            input.prop('checked',false);
            me.parent().removeClass('on');
        } else {
            input.prop('checked',true);
            me.parent().addClass('on');
        }
        isAllCheck();
    });
    // 单击名字
    $('.cFLmain').on('click','.fitem .itemName',function() {
        var me = $(this);
        me.addClass('on');
    });
    // 离开名字
    $('.cFLmain').on('blur','.fitem .itemName',function() {
        var me = $(this);
        me.removeClass('on');
    });
    // 全选
    $('.allcheckbox').click(function() {
        var me = $(this);
        if(me.find('input').prop('checked')) {
            $('.cFLmain .fitem').addClass('on');
            $('.cFLmain .fitem .check input').prop('checked',true)
        } else {
            $('.cFLmain .fitem').removeClass('on');
            $('.cFLmain .fitem .check input').prop('checked',false)
        }
        isAllCheck();
    });
    function isAllCheck() {
        var input = $('.cFLmain .fitem .check input');
        var inputed = $('.cFLmain .fitem .check input:checked');
        if(input.length == inputed.length) {
            $('.allcheckbox input').prop('checked',true);
        } else {
            $('.allcheckbox input').prop('checked',false);
        }
        if(inputed.length == 0) {
            $('.allcheckbox label').text('全选');
        } else {
            $('.allcheckbox label').text('已选' + inputed.length + '个文件');
        }
    }


    // 加入回收站
    function addTrash() {
        // 加入回收站
        $.ajax({
            type:'POST',
            url:"",
            data:{},
            success:function (data) {
                if( data.code == 1 ){
                    
                }else{
                    alert(data.msg);
                }
            },error:function () {

            }
        });
    }


    // 彻底删除
    function delFile() {

    }




    // 打开文件夹
    function openFolder() {

    }

    // 下载
    function downloadFile() {

    }

    // 移动到..
    function moveFile() {

    }

    // 显示简介
    function descriptions() {
        
    }


    function showFrame (obj) {
        var index = layer.open({
            type: 2,
            title: $(obj).attr('data-msg'),
            shadeClose: false,
            shade:  [0.8, '#393D49'],
            maxmin: true, //开启最大化最小化按钮
            area: ['90%', '90%'],
            content: $(obj).attr('data-href')
        });
        layer.full(index);
    }

</script>

</body>
</html>