<!DOCTYPE html>
<html lang="cn">
{include file="sys@Base:table_header" /}
{tbjs module="Admin" src="../common/layui/layui.js,jquery.min.js"}
<body>
<section class="layui-larry-box">
	<div class="larry-personal">
		{notempty name="web_title"}
		<header class="larry-personal-tit">
			<span>{$web_title}</span>
		</header>
		{/notempty}
		<div class="larry-personal-body clearfix">
			{notempty name="form_tpis"}
		  	<blockquote class="layui-elem-quote">{$form_tpis}</blockquote>
		  	{/notempty}
		{notempty name="nav_list"}
		    <ul class="layui-tab-title" style="bottom:10px;">
          	{volist name="nav_list" id="nav"}
  				<li {eq name="nav.sign" value="$tab_now"}class="layui-this"{/eq} onclick="location.href='{$nav.url}'">{$nav.title}</li>
          	{/volist}
		  	</ul>
      	{/notempty}
			<form class="layui-form" action="{$action}" method="post">
				{$form_Html}
				{:token()}
				<div class="layui-form-item">
					<div class="layui-input-block">
					{empty name="button_diy"}
						<button type="button" class="layui-btn" lay-submit="" lay-filter="*">{$eBiz.lang.comm_form_btn_submit}</button>
						<button type="reset" class="layui-btn layui-btn-primary">{$eBiz.lang.comm_form_btn_reset}</button>
					{else/}
						{$button_diy}
					{/empty}
					</div>
				</div>

			</form>
		</div>
	</div>
</section>

<script type="text/javascript">
	layui.use(['form','upload','element','laydate'],function(){
     	var form = layui.form();
     	form.verify({pass: [
			    /^[\S]{6,12}$/
			    ,'密码必须6到12位，且不能出现空格'
		  	] 
		});

     	layui.upload({ 
         	url: "{:url('Sys/Upload/upload')}",
		    type: 'image',
		    before: function () {
		        lay_index = layer.load(3, {
		          shade: [0.1,'#fff'], //0.1透明度的白色背景
		        });
		    },
		    success: function (data,input) {
		    	// console.log(data);
		    	var img_input = $(input).attr('data-val');
		    	var img_src = $(input).attr('data-val')+'_src';
		    	// console.log();
		        if (data.error === 0) {
		        	$('#'+img_input).val(data.url);
		        	$('#'+img_src).attr('src',data.url);
		            layer.msg('上传完成',{time:1000});
	            	layer.close(lay_index);
		        } else {
		            layer.msg(data.message);
	            	layer.close(lay_index);
		        }
		    }
         });

        form.on('submit(*)', function(data){
	  		var url = $(data.form).attr('action');
	  		$.ajax({
	  	        type : "POST",
	  	        url: url,
	  	        data : data.field,
	  	        dataType : 'json',
	  	        success: function(data){
	  	        	layer.msg(data.msg,{time:1000},function(){
	  	        		if (data.code==1) {
	  	        			var Home_tip = parent.$('#subwinaaa').text();
	  	        			var target = '{$target|default=""}';
							location.reload();
//	  	        			if(Home_tip=='home' && target!='parent'){
//	  	        				location.reload();
//	  	        			}else{
//	  	        				parent.callback();
//	  	        			}
	  	        		};
	  	        	});
	  	        }
	  	    });
		  	return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
		});
	});

	{notempty name="script_diy"}
	{$script_diy}
	{/notempty}
</script>
</body>
</html>